body {
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/174/780/original/floating-laughing-emoji_53876-89114.jpg?1760377476");
background-size: cover;
align: center;
}